<div class="add_event-page" id="club_form">
    <%= form_for @club, html: { class: 'form' } do |f| %>
        <%= render 'locations/add_location', locationable: @club %>
        <%= hidden_field_tag :location %>
        <ul>
            <li>
                <%= f.label :name, 'Назва' %>
                <%= f.text_field :name, class: "hastip", title: "Обов'язково для заповнення. Довжина більше 5 символів" %>
            </li>
            <li>
                <%= f.label 'Категорія' %>
                <%= select(:club, :club_type_id, ClubType.all.collect { |ct| [ ct.name, ct.id ] }) %>
            </li>
            <li>
                <%= f.label 'Опис' %>
                <%= f.text_area :description, class: "hastip", title: "Обов'язково для заповнення. Довжина більше 20 символів" %>
            </li>
            <li>
                <%= f.label 'Вартість' %>
                <%= f.text_field :price %>
            </li>
            <li>
                <%= f.label 'Контактний номер' %>
                <%= f.text_field :phone, class: "hastip", title: "Обов'язково для заповнення" %>
            </li>
        </ul>
        <%= f.submit 'ОК', class: 'submit-btn' %>
    <% end %>
</div>