<div class="main">
      <%= render 'locations/show_map', locationables: @clubs %>
    <span class="add" ><%= link_to 'Додати секцію', new_club_path if current_user %><br/></span>
    <h2><%= @message %></h2>
    <% @clubs.all.each do |club|%>
        <div class="event">
          <h3><%= link_to club.name, club %></h3>
          <p><%= club.description %></p>
          <span class="author" ><%= link_to club.author.name, club.author %></span>
        </div>
    <% end %>
    <%= paginate @clubs, window: 2 %>
</div>