<div class="event-page">
    <div class="event-info" >
        <%= render 'locations/show_location', locationable: @club %>
        <%= link_to 'Редагувати', edit_club_path, class: "edit-event-btn" if user_can_edit?(@club) %>
        <h2><%= @club.name %></h2>
        <span class="no-margin" >
            <%= link_to @club.type.name, clubs_path(search_by_type: @club.type) %>
        </span>
        <p><%= @club.description %></p>
        <ul>
            <li style="float:right">Добавил: <%= link_to @club.author.name, @club.author, class: 'author' %></li>
            <li>Контактный номер: <span style="color:#6495ed;"><%= @club.phone %></span></li>
            <li>Стоимость занятий: <%= @club.price %></li>
        </ul>
    </div>
    <%= link_to 'Перейти до списку всіх секцій', clubs_path %>
    <%= render 'comments/form', commentable: @club %>
    <%= render 'comments/comments' %>
</div>