<div class="messages-page">
    <h2>Вхідні повідомлення</h2>
    <table>
        <tbody>
            <tr class="thead">
                <th>Час</th>
                <th>Від</th>
                <th>Тема</th>
                <th></th>
            </tr>
            <% for message in @messages %>
                <% if message.unread %>
                    <tr class="unread">
                <% else %>
                    <tr>
                <% end %>
                <td class="time" ><%= show_date(message) %></td>
                <td class="messages-name" >
                    <%= link_to message.author.name, message.author %>
                </td>
                <td class="theme" >
                    <%= link_to message.subject, message %>
                </td>
                <td class="delete" >
                    <%= link_to 'Видалити', message, method: :delete %>
                </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>