<div class="send-message">
    <h2>Нове повідомлення</h2>
    <%= form_for @message do |f| %>
        <ul>
            <li>
                <p>Кому: <%= @recipient.name %></p>
                <%= f.hidden_field :recipient_id, value: @recipient.id %>
            </li>
            <li><label>Тема: </label><%= f.text_field :subject, class: "hastip", title: "Обов'язково для заповнення. Довжина від 5 до 140 символів" %></li>
            <li><label>Текст повідомлення: </label><%= f.text_area :body, class: "hastip", title: "Обов'язково для заповнення. Довжина жо 1000 символів" %></li>
        </ul>
        <%= submit_tag "Відправити", class: 'submit-btn' %>
    <% end %>
</div>