<div class="messages-page">
    <h2>Отправленные сообщения</h2>
    <table>
        <tbody>
            <tr class="thead">
                <th>Час</th>
                <th>Кому</th>
                <th>Тема</th>
                <th></th>
            </tr>
            <% for message in @messages %>
                <tr>
                    <td class="time" ><%= show_date(message) %></td>
                    <td class="messages-name" >
                        <%= link_to message.recipient.name, message.author %>
                    </td>
                    <td class="theme" >
                        <%= link_to message.subject, message %>
                    </td>
                    <td class="delete" >
                        <%= link_to 'Удалить', message, method: :delete %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>