<div class="message-page" >
    <h2><%= @message.subject %></h2>
    <div class="message">
        <ul>
            <li class="date"><%= show_date(@message) %></li>
            <li>
                <span class="from">Від:</span>
                <%= link_to @message.author.name, @message.author %>
            </li>
            <li>
                <span class="to">Кому:</span>
                <%= link_to @message.recipient.name, @message.author %>
            </li>
            <li class="text"><p><%= @message.body %></p></li>
            <li>
              <%= link_to 'Назад', :back, class: 'profile-btn' %>
            </li>
        </ul>
    </div>
</div>