Добрий день, <%= @user.name %>!<br/>
Вітаємо вас на порталі <b><%= link_to 'Sportevents', root_path %></b>
Для підтвердження електронної пошти потрібно перейти по цьому <%= link_to 'посиланню', confirm_email_url(email: @email, code: @code) %>