<h2>Добрий день!</h2>
<b>Ваші друзі додали декілька подій, можливо вам буде це цікаво:</b>

<ul>
    <% @unread_events.each do |event| %>
	    <li>
            <%= link_to event.name, event_url(event) %>.
            Добавил <%= link_to event.author.name, user_url(event.author) %>
        </li><br/>
    <% end %>
</ul>