<div class="comment">
  <%= link_to (image_tag avatar_url(comment.user)), comment.user %>
    <%= link_to comment.user.name, comment.user, class: 'cmnt-author' %>
    <span class="cmnt-date"><%= show_date(comment) %></span>
    <p><%= comment.body %> </p>
    <% if user_can_send_message_to?(comment.user) %>
        <%= link_to 'Відправити повідомлення автору', new_message_path(recipient_id: comment.user.id), class: 'send-msg'  %>
    <% end %>
</div>