<% if current_user %>
    <div class="add-comment">
        <%= form_for [commentable, @comment], remote: true do |f|  %>
            <%= image_tag avatar_url(current_user) %>
            <%= f.text_area :body, class: "hastip", title: "Обов'язково для заповнення. Довжина від 3 до 150 символів", id: 'comment_form' %>
            <%= f.submit 'Добавить комментарий', class: "submit-btn" %>
        <% end %>
    </div>
<% end %>