<div class="edit-usr-page" >
    <%= form_for @user do |f| %>
        <ul>
            <li>
                <%= f.label 'Логин*' %>
                <%= f.text_field :name %>
            </li>
            <li>
                <%= f.label 'Email' %>
                <%= f.text_field :email %>
            </li>
            <li>
                <%= f.label 'Коротко о себе' %>
                <%= f.text_area :about, class: "hastip", title: "Обязательно для заполнения. Длина: от 20 символов" %>
            </li>
            <li>
                <%= f.label 'Номер телефона' %>
                <%= f.text_field :phone, class: "hastip", title: "Длина: от 6 до 10 символов" %>
            </li>
            <li>
                <%= f.label 'Skype' %>
                <%= f.text_field :skype %>
            </li>
            <li>
                <%= f.label 'Загрузить аватар' %>
                <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg' %>
            </li>
        </ul>
        <%= f.submit 'Редактировать', class: "submit-btn" %>
    <% end %>
</div>