<div class="full-profile">
    <%= image_tag avatar_url(@user), class: 'user-photo' %>
    <div class="right-position" >
        <%= link_to 'Редагувати профіль', edit_user_path, class: 'profile-btn' if current_user == @user %>
        <% if user_can_send_message_to?(@user) %>
            <%= link_to 'Відправити повідомлення', new_message_path(recipient_id: @user.id), class: 'profile-btn' %>
        <% end %>
        <%= link_to 'Додати в друзі', friendships_path(friend_id: @user.id), method: :post, class: 'profile-btn' if user_can_add_to_friends? %>
        <%= link_to 'Видалити з друзів', friendship_path(friend_id: @user.id), method: :delete, class: 'profile-btn' if user_can_remove_from_friends? %>
    </div>
    <h2><%= @user.name %></h2>
    <dl class="user-info">
        <dt>Email:</dt>
        <% if @user.email_confirmed? %>
            <dd><%= @user.email %></dd>
        <% elsif show_email_alert? %>
            <dd>
                <%= @user.email %>
                <span class="not-confirmed">
                    <span class="alert"> Увага!</span> Ви не підтвердили адресу елетронної пошти!.<br/>
                    <%= link_to 'Отправить письмо повторно', user_send_email_confirmation_path(@user), method: :post %>
                </span>
            </dd>
        <% else %>
            <dd></dd>
        <% end %>

        <dt>Коротко про себе:</dt>
        <dd><%= @user.about  %></dd>

        <dt>Номер телефону:</dt>
        <dd><%= @user.phone %></dd>

        <dt>Skype:</dt>
        <dd><%= @user.skype %></dd>

        <dt>Друзі:</dt>
        <% if @user.friends.any? %>
            <% @user.friends.each do |friend| %>
                <dd><%= link_to friend.name, friend, class: 'user-friend' %></dd>
            <% end %>
        <% else %>
            <dd>У користувача немає друзів</dd>
        <% end %>

    </dl>
</div>