<footer class="footer">
    <div class="geekhub_logo">
        <a href="http://geekhub.ck.ua" class="geekhub" >GeekHub</a>
    </div>
    <p class="copy">&copy 2015, Колесник Сергій, Грігор'єв Дмітрій</p>
</footer>