<header class="header">   <!-- HEADER -->
    <div class="right-position" >
        <% if current_user %>
            <div class="profile">
                <span class="name"><%= current_user.name %><span class="arrow"></span></span>
                <ul class="dropdown">
                    <li><%= link_to 'Профіль', current_user %></li>
                    <li><%= link_to 'Вхідні повідомлення', inbox_path %></li>
                    <li><%= link_to 'Відправлені повідомлення', sentbox_path %></li>
                    <li><%= link_to 'Вихід', logout_path %></li>
                </ul>
            </div>
        <% else %>
            <ul class="log-in">
                <li id="enter" >Вхід</li>
                <li id="register">Реєстрація</li>
            </ul>
        <% end %>
    </div>
        <h1 class="logo">
            <%= link_to image_tag("logo_bg.png"), home_url %>
            SportEvents - спортивні події Черкас
        </h1>
        <%= go_to %>
</header> <!-- HEADER -->
  
<div class="enter-popup">       <!-- POPUP`S -->
    <span class="close">x</span>
    <h3>Вход</h3>
    <%= form_tag 'login_with_email' do %>

        <%= label_tag :email, 'Email' %>
        <%= text_field_tag :email, '', class: "hastip", title: "Обов'язково для заповнення" %>

        <%= label_tag :password, 'Пароль', class: "hastip", title: "Обов'язково для заповнення" %>
        <%= password_field_tag :password %>

        <%= submit_tag 'Войти', class: 'submit-btn' %>
    <% end %>
    <ul class="social-in">
        <li class="vk" ><a href="/auth/vkontakte" title="Вхід за допомогою Вконтакте" ></a></li>
        <li class="tw"><a href="/auth/twitter" title="Вхід за допомогою Twitter" ></a></li>
    </ul>
</div>

<div class="register-popup">
    <span class="close">x</span>
    <h3>Реєстрація</h3>
        <%= form_for User.new do |f| %>

            <%= f.label :name, "Ім'я" %><br>
            <%= f.text_field :name, class: "hastip", title: "Обов'язково для заповнення" %>

            <%= f.label :email, 'Email' %><br>
            <%= f.text_field :email, class: "hastip", title: "Обов'язково для заповнення" %>

            <%= f.label :password, 'Пароль' %><br>
            <%= f.password_field :password, class: "hastip", title: "Обов'язково для заповнення" %>

            <%= f.label :password_confirmation, 'Підтвердження пароля' %><br>
            <%= f.password_field :password_confirmation, class: "hastip", title: "Обов'язково для заповнення" %>

            <%= f.submit 'Зареєструватися', class: 'submit-btn' %>
        <% end %>
</div>

<div class="mask"></div>    <!-- POPUP`S -->