<aside class="sidebar clearfix floating">  <!-- SIDEBAR -->
    <% if current_user %>
        <div class="sidebar-profile" >
            <%= link_to (image_tag avatar_url(current_user), class: 'sidebar-photo'), current_user %>
            <h3><%= current_user.name %></h3>
        </div>
    <% end %>
    <div class="categories">
        <h3>Категорії</h3>
        <ul>
            <% if session[:main_controller] == 'clubs' %>
                <% ClubType.all.each do |ct| %>
                    <li><%= link_to ct.name, clubs_path(search_by_type: ct) %></li>
                <% end %>
            <% else %>
                <% EventType.all.each do |et| %>
                    <li><%= link_to et.name, events_path(search_by_type: et) %><br/></li>
                <% end %>
            <% end %>
        </ul>
    </div>
    <% if session[:main_controller] == 'clubs' %>
        <%= form_tag clubs_path, :method => 'get' do %>
            <%= text_field_tag :search_by_name, params[:search_by_name], class: 'srch-place', placeholder: "ПОШУК..." %>
            <%= submit_tag '', name: nil, class: 'search-btn' %>
        <% end %>
    <% else %>
        <%= form_tag events_path, :method => 'get' do %>
            <%= text_field_tag :search_by_name, params[:search_by_name], class: 'srch-place', placeholder: "ПОШУК..." %>
            <%= submit_tag '', name: nil, class: 'search-btn' %>
        <% end %>
    <% end %>
</aside>          <!-- SIDEBAR -->