<div class="add_event-page" id="event_form">
    <%= form_for @event, html: { class: 'form' } do |f| %>
        <%= render 'locations/add_location', locationable: @event %>
        <%= hidden_field_tag :location %>
        <ul>
            <li>
                <%= f.label :name, 'Назва' %>
                <%= f.text_field :name, class: "hastip", title: "Обов'язково для заповнення. Довжина більше 5 символів" %>
            </li>
            <li>
                <%= f.label 'Категорія' %>
                <%= select(:event, :event_type_id, EventType.all.collect { |et| [ et.name, et.id ] }) %>
            </li>
            <li>
                <%= f.label 'Опис' %>
                <%= f.text_area :description, class: "hastip", title: "Обов'язково для заповнення. Довжина більше 20 символів" %>
            </li>
            <li class="date">
                <%= f.label 'Початок' %>
                <%= f.datetime_select :begins_at, default: 26.hours.from_now, start_year: 2015, end_year: 2015 %>
            </li>
            <li>
                <%= f.label 'Контактний номер' %>
                <%= f.text_field :phone, class: "hastip", title: "Обязательно для заполнения." %>
            </li>
        </ul>
        <%= f.submit 'ОК', class: 'submit-btn' %>
    <% end %>
</div>