<%= form_tag events_path, :method => 'get' do %>
    <p>
        <%= text_field_tag :search_by_name, params[:search_by_name], size: 15 %>
        <%= submit_tag 'Пошук', name: nil %>
    </p>
<% end %>