<div class="main">
    <%= render 'locations/show_map', locationables: @events %>
    <span class="add" ><%= link_to 'Додати подію', new_event_path if current_user %><br/></span>
    <h2><%= @message %></h2>
    <% @events.all.each do |event|%>
        <div class="event">
            <h3><%= link_to event.name, event %></h3>
            <p><%= event.description %></p>
            <span class="date">Початок: <%= show_date(event) %></span>
            <span class="author" ><%= link_to event.author.name, event.author %></span>
        </div>
    <% end %>
    <%= paginate @events, window: 2 %>
</div>