<div class="event-page">
        <div class="event-info" >
          <%= render 'locations/show_location', locationable: @event %>
          <%= link_to 'Редактировать', edit_event_path, class: "edit-event-btn" if user_can_edit?(@event) %>
          <h2><%= @event.name %></h2>
          <span class="no-margin" >
            <%= link_to @event.type.name, events_path(search_by_type: @event.type) %>
          </span>
          <p><%= @event.description %></p>
          <ul>
            <li>Контактный номер: <span style="color:#6495ed;"><%= @event.phone %></span></li>
            <li style="float:right">Добавил: <%= link_to @event.author.name, @event.author, class: 'author' %></li>
            <li class="time" >Начало: <%= show_date(@event) %></li>
          </ul>
        </div>
        <%= link_to 'Перейти к списку всех событий', events_path %>
        <%= render 'comments/form', commentable: @event %>
        <%= render 'comments/comments' %>
</div>