@font-face {
    font-family: 'Lato';
    src: url(font-path('Lato-Regular.eot')); /* IE9 Compat Modes */
    src: url(font-path('Lato-Regular.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
         url(font-path('Lato-Regular.woff')) format('woff'), /* Modern Browsers */
         url(font-path('Lato-Regular.ttf')) format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url(font-path('Lato-Bold.eot')); /* IE9 Compat Modes */
    src: url(font-path('Lato-Bold.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
         url(font-path('Lato-Bold.woff')) format('woff'), /* Modern Browsers */
         url(font-path('Lato-Bold.ttf')) format('truetype'); 
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Jura';
    src: url(font-path('Jura-Regular.ttf')) format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}