/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:99%; }
body                            { padding:0; margin:0; font:12px Lato; background:#fff; color:#202020; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding:0;
  margin:0;
  outline:none;
  list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Lato; color:#000; text-decoration:none; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r                       { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/


body {
  background:#74b5e3;
}

.header {
  background:white;
  border-radius:9px;
  margin: 15px 0 0;
  height:59px;
  overflow:hidden;
}

.wrap {
  height:auto;
  width:960px;
  margin:0 auto;
  position:relative;
  min-height:100%;
  z-index:2;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

.dropdown, .enter-popup, .register-popup {
  display:none;
}

.right-position {
  float:right;
}

.logo {
  margin: -17px 0 0 11px;
  position:absolute;
  float:left;
  overflow:hidden;
  width:230px;
  height:100px;
}

a.go-to {
    background: none repeat scroll 0 0 #1abc9c;
    border-radius: 3px;
    color: white;
    display: block;
    font: bold 15px Lato;
    margin: 10px auto 0;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 155px;
    position:relative;
    left:12%;
}

.name {
  cursor:pointer;
  font-size:20px;
  padding:17px;
  display:block;
  transition:0.3s;
}

.profile.active .name, .name:hover {
  color:#1ABC9C;
}

.arrow {
  border-left: 6px dashed transparent;
    border-right: 6px dashed transparent;
    border-top: 6px solid #404040;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
  transition:0.3s;
}

.profile.active .arrow, .name:hover .arrow{
  border-top-color:#1ABC9C;
}

.dropdown {
    background: none repeat scroll 0 0 white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    padding: 10px 20px 10px 10px;
    position: absolute;
    right: 11px;
    top: 63px;
    z-index:3;
}

.dropdown:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent rgba(0, 0, 0, 0.15);
    border-image: none;
    border-style: solid;
    border-width: 8px;
    content: "";
    display: inline-block;
    left: 197px;
    position: absolute;
    top: -16px;
}

.dropdown:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #fff;
    border-image: none;
    border-style: solid;
    border-width: 7px;
    content: "";
    display: inline-block;
    left: 198px;
    position: absolute;
    top: -14px;
}



.profile.active .dropdown{
  display:block;
}

.dropdown li {
  /* padding:2px; */
  transition: all 0.1s ease 0s;
  border-radius: 4px;
}

.dropdown li a {
  padding:4px;
  display:block;
  font-size:15px;
}

.dropdown li:hover{
  background:#1ABC9C;
  
}

.dropdown li:hover a {
  color:white;
}

.log-in {
  overflow:hidden;
}

.log-in li{
  cursor:pointer;
  font-size:20px;
  padding:17px;
  float:left;
  transition:0.2s;
}

.log-in li:hover{
  color:white;
  background:#19BB9B;
}



.enter-popup, .register-popup{
  color:#33495D;
  padding:22px;
  background:white;
  border-radius:9px;
  position:fixed;
  left:40%;
  top:20%;
  font:bold 14.5px Lato;
  z-index:2;
  opacity:0;
  z-index:1002;
}

.enter-popup h3, .register-popup h3{
  font:bold 24.5px Lato;  
  margin:0 0 30px;
}

.mask {
  display:none;
  background:rgba(0,0,0,0.5);
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0;
  z-index:1001;
}

.close:hover {
  color:gray;
}

.close {
  display:block;
  position:absolute;
  top:5px;
  right:10px;
  cursor:pointer;
}

input[type="text"]:hover, input[type="password"]:hover{
  border-color:#98fb98;
  box-shadow:0 0 0 0 #98fb98;
}

input[type="text"], input[type="password"]{
  width:257px;
  height:35px;
  border: 1px solid #cfd3d6;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 #cfd3d6;
  padding:0 0 0 10px;
  display:block;
  margin:9px 0 17px;
  font: 15px Lato;
}

.social-in {
  overflow:hidden;
}

.social-in .vk,.social-in .tw {
  margin:17px 10px 0 0;
  float:left;
  background:url("social.png") white;
  width:30px;
  height:30px;
}

.social-in .vk a,.social-in .tw a{
  width:30px;
  height:30px;
  display:block;
}

.social-in .vk {
  background-position:30px 0;
}

.submit-btn {
  box-shadow:1px 2px 0 0 #7f8c8d;
  padding:8px 25px;
  background:#1ABC9C;
  font:bold 15px Lato;
  border:none;
  border-radius:3px;
  color:white;
  float:right;
  margin:13px 0 0;
  
}

.register-popup .submit-btn  {
  float:none;
  margin:13px 0 0 33px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER------------------------------------------*/
/*----------------------------------------------------------------------------------*/

.footer {
  background:white;
  border-radius:9px;
  overflow:hidden;
  margin: -60px auto 15px;
  height:60px;
  clear:both;
  width:960px;
  position:relative;
  z-index:5;
}

.footer .geekhub_logo {
  float:right;
  margin:8px 13px 0 0;
}

.footer .copy {
  overflow:hidden;
    font: 14px Lato;
    padding: 21px 13px;
    vertical-align: middle;
}

.footer .geekhub_logo .geekhub{
  display:block;
  width:100px;
  height:43px;
  background:url("geekhub_logo.png");
  text-indent:-100em;
}

.bottom-footer {
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0 0 60px;
}

.clearfix:after {content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

.sidebar {
  padding:25px;
  background:white;
  border-radius:9px;
  margin:0 15px 15px 0;
  float:left;
  max-width:200px;
  transition:0.5s;
  position:relative;
  top:15px;
}

.sidebar-profile {
  margin:20px;
  border-bottom: 1px solid gray;
    padding: 0 0 20px;
    text-align: center;
}

.sidebar-photo {
  padding:5px;
  border:1px solid gray;
  width:100px;
  height:100px;
  border-radius:50%;
}


.categories {
  margin: 0 20px 30px;
  padding:0 0 20px 0;
  border-bottom: 1px solid gray;
}

.categories h3{
  font:bold 23px Lato; 
  margin: 0 0 10px;
}

.categories ul {
  margin: 0 0 0 3px;
}

.categories ul li{
  margin: 5px 0 0;
  padding:0 0 0 16px;
  /*background:url("cat-icon.png") no-repeat left center;*/
}

.categories ul li a{
  font-size:15px;
}

.categories ul li:hover a{
  color:#1ABC9C;
}

.sidebar form {
  text-align:center;
}

input.srch-place {
  border: 1px solid #cfd3d6;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 #cfd3d6;
  border:none;
  font:14px Lato;
  color:#818181;
  padding:0 0 0 10px;
  width:122px;
  height:25px;
  display:inline;
  margin:0;
}

.search-btn {
  margin:0 0 0 10px;
  border:none;
  width:19px;
  height:19px;
  background:url("search-icon.png");
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------PROFILE PAGE---------------------------------------*/
/*----------------------------------------------------------------------------------*/


.user-photo {
  width:100px;
  height:100px;
  border-radius:3px;
  float:left;
  margin: 0 20px 0 30px;
}

.full-profile {
  position:relative;
  overflow:hidden;
}

.full-profile h2 {
  overflow:hidden;
}


.full-profile dl {
    margin: 80px 0 0;
    overflow: hidden;
}


.full-profile dt {
  margin: 8px 0 0;
    display: block;
    float: left;
    font: bold 15px Lato;
    text-align: right;
    width: 130px;
}

.full-profile dt:first-child {
  margin: 9px 0 0;
}

.full-profile dd {
  margin: 11px 0 1px;
    overflow: hidden;
    padding: 0 0 0 20px;
  font-size:13px;
  min-height: 17px;
}

.full-profile dd a{
  font-size:13px;
}

.full-profile a.user-friend {
  color:#6495ed;
}

.full-profile a.profile-btn {
  background: none repeat scroll 0 0 #1abc9c;
    border-radius: 3px;
    color: white;
    display: block;
    font: bold 12px Lato;
    padding: 4px 8px;
  margin:0 0 5px;
  text-align:center;
}

.full-profile .not-confirmed a{
  color:#1abc9c;
}




/*----------------------------------------------------------------------------------*/
/*-------------------------------------EDIT PROFILE---------------------------------------*/
/*----------------------------------------------------------------------------------*/


.edit-usr-page ul , .form ul {
    padding: 0 0 0 100px;
}

.edit-usr-page li , .form li {
    margin: 0 0 20px;
}

.edit-usr-page label , .form label {
  color: #33495d;
    display: block;
    float: left;
    font: bold 14.5px Lato;
    margin: 7px 18px 5px 0;
    text-align: right;
    width: 200px;
}

.edit-usr-page input[type="text"], .form input[type="text"]{
  margin:0;
  display:inline;
  height:32px;
  width:190px;
}

.edit-usr-page textarea , .form textarea{
  max-width:190px;
  width: 190px;
  height: 80px;
  border: 1px solid #cfd3d6;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 #cfd3d6;
    font: 13px Lato;
    padding: 5px 0 0 10px;
}

.edit-usr-page textarea:hover, .form textarea:hover{
  border-color:#98fb98;
  box-shadow:0 0 0 0 #98fb98;
}

.edit-usr-page .submit-btn , .form .submit-btn{
    display: block;
    float: none;
    margin: 5px auto 0;
    width: 160px;
}

.edit-usr-page h2{
  color: #33495d;
    margin: 0 0 30px;
    text-align: center;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

.content {
  background:white;
  overflow:hidden;
  border-radius:9px;
  margin:15px 0 15px;
  padding:20px 20px 75px;
  display:block;
}

.map {
    border-radius: 9px;
    height: 400px;
    margin: 0 0 20px;
    width: 100%;
}

.content h2 {
  font-size: 24px;
    overflow: hidden;
}

.add {
  float:right;
}


.add > a {
    background: none repeat scroll 0 0 #1abc9c;
    border-radius: 3px;
    color: white;
    display: block;
    font: bold 14px Lato;
    padding: 4px 8px;
}

.event {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    margin: 20px 0;
    padding: 8px;
}

.event > h3 {
  margin: 0 0 10px;
}

.event > h3 a{
    font:bold 17px Lato;
  color:#202020;
}


.event > p {
    margin: 0 0 12px;
}

.event .date{
  color:black;
  float:left;
}

.date .time {
  color:#6495ed;
}

.event > .author a{
  color:#6495ed;
    display: block;
    font-size: 13px;
    text-align: right;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------ADD EVENT - PAGE---------------------------------------*/
/*----------------------------------------------------------------------------------*/

.add_event-page h2{
  margin:0 0 20px;
}


.put-label {
    display: block;
    font: bold 14px Lato;
    margin: 0 0 3px;
}

.add_event-page ul {
  padding:0 0 0 80px;
}

.add_event-page ul li.date{
  font-size:23px;
}

.add_event-page ul li.date input{
  margin:0 6px 0 0;
}

.add_event-page ul li.date select{
    display: inline;
    margin: 0;
    width: 54px;
}

.add_event-page input[type="text"]{
  width:236px;
}

.add_event-page textarea{
  max-width:236px;
  width:236px;
}

.add_event-page select {
  width:249px;
  height:35px;
  border: 1px solid #cfd3d6;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 #cfd3d6;
  padding:0 0 0 10px;
  display:block;
  margin:9px 0 17px;
  font: 15px Lato;
}


.alert-msg {
  overflow:hidden;
  display:block;
  border-radius:9px;
  background:white;
  height:20px;
  color:green;
  margin:15px 0 -9px;
  padding:10px;
  text-align:center;
  font-size:15px;
}

.alert {
  color:red;
}




/*----------------------------------------------------------------------------------*/
/*-------------------------------------EVENT PAGE---------------------------------------*/
/*----------------------------------------------------------------------------------*/

.event-page .event-info{
  padding:0 0 20px;
  border-bottom:1px solid rgba(0, 0, 0, 0.15);
}

.event-page {
    font-size: 15px;
}

.event-page .time {
    margin: 2px 0 0;
}

a.edit-event-btn {
  background: none repeat scroll 0 0 #1abc9c;
    border-radius: 3px;
    color: white;
    font: bold 14px Lato;
    padding: 4px 8px;
  margin:2px 0 5px;
  text-align:center;
  float:right;
}

.event-page .author{
  color:#6495ed;
  font-size:15px;
}
.event-page p {
  margin:11px 0;
    overflow: hidden;
}


.add-comment {
  overflow:hidden;
    margin: 20px auto 0;
    padding: 20px 0 0;
    width: 560px;
}

.comment img, .add-comment img{
    border-radius: 4px;
    display: block;
    float: left;
    height: 65px;
    margin: 0 10px 0 0;
    width: 65px;
}

.add-comment textarea {
  border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    font: 15px Lato;
    height: 75px;
    padding: 5px 0 0 10px;
    width: 471px;
  max-width: 471px;
}

.add-comment .submit-btn {
  padding:3px 8px;
  font-size:14px;
  margin:6px 0 0;
}

.comment {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    margin: 20px auto;
    overflow: hidden;
    padding: 10px;
    width: 540px;
}

a.cmnt-author {
    color: #6495ed;
    font-size: 16px;
}

.cmnt-date {
    color: gray;
    float: right;
}

.comment  .send-msg {
    color: #1abc9c;
    float: right;
    font-size: 14px;
    margin: 0 0 0 75px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------INBOX MESSAGES PAGE--------------------------*/
/*----------------------------------------------------------------------------------*/

.messages-page table{
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
  margin:20px 0 0;
}

.content .messages-page tr td.time {
  color:gray;
  padding: 0 0 0 14px;
  font-weight:normal;
}

.messages-page a {
    color: blue;
    font-size: 16px;
    text-decoration: underline;
}

.delete a {
  padding:4px 25px;
  background:#1ABC9C;
  font:bold 13px Lato;
  border:none;
  border-radius:3px;
  color:white;
  float:right;
  text-decoration:none;
}

.messages-page tr.thead {
  background: none repeat scroll 0 0 rgba(243, 243, 243, 1);
}

.messages-page tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background: none repeat scroll 0 0 rgba(243, 243, 243, 0.85);
}

.messages-page tr.unread {
  background:white;
}

.messages-page tr.unread td,.messages-page tr.unread .messages-name a{
  font-weight:bold;
  color:black;
}

.messages-page .messages-name a:hover, .messages-page tr.unread .messages-name a:hover{
  color: #6495ed;
}

.messages-page tr.unread .theme a{
  font-weight:bold;
}

.messages-page th {
    font-size: 16px;
    padding: 12px 0;
}


.messages-page td {
  font-size:16px;
  padding: 13px 20px 13px 28px;
  color:gray;
  text-align:center;
}

.theme a {
    color: green;
    overflow: hidden;
    text-decoration: none;
    width: 100px;
}

.messages-page .messages-name {
  padding-left:15px;
}

.messages-name a {
  font-size:16px;
  color:gray;
  text-decoration:none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------MESSAGE PAGE--------------------------*/
/*----------------------------------------------------------------------------------*/

.message-page {
  font-size:16px;
}

.message {
    margin: 25px 0 0;
    width: 600px;
}

.message li {
  padding: 8px 0 0;
  overflow:hidden;
}

.message li a {
  color: #6495ed;
  font-size:16px;
}

.message .date {
  float:right;
}

.message .from,.message .to {
  border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    display: block;
    float: left;
    margin: -7px 13px 10px 0;
    padding: 5px;
    width: 50px;
}

.message .text {
  border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    min-height: 70px;
    padding: 10px 30px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SEND MESSAGE--------------------------*/
/*----------------------------------------------------------------------------------*/

.send-message {
  font:bold 17px Lato;
  color:#33495d;
  width:413px;
}

.send-message ul {
  overflow:hidden;
}

.send-message h2{
  color:black;
  margin:0 0 30px;
}

.send-message input {
  display:inline;
}

.send-message textarea{
  font: 15px Lato;
    padding: 5px 0 0 10px;
  display:block;
  width:400px;
  height:140px;
  border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

form input.required,form textarea.required {
	border-color: #A60000;
}

form input.normal,form textarea.normal {
	border-color:rgba(0, 0, 0, 0.15);
}

.tooltipsy
{
    padding: 10px;
    max-width: 400px;
    color: #303030;
    background-color: #f5f5b5;
    border: 1px solid #deca7e;
	margin-bottom:3px;
}

#user_avatar {
	padding:5px 0 0;
}
