<div id="map" class='map'></div>

<script>
    <% if !locationable.new_record? %>
        var presence = true;
        var latlng = <%= [locationable.location.latitude, locationable.location.longitude] %>;
    <% else %>
        var presence = false;
    <% end %>

    $(document).ready(addLocation());
    $(document).on('page:load', addLocation());
    $(document).on('page:change', addLocation());
</script>