<div id="map" class="map"></div>

<script>
    var mapTitle = '<%= @map_title %>';
    var markersArray = [];

    <% locationables.each do |locationable| %>
        var marker = {
            latlng: <%= [locationable.location.latitude, locationable.location.longitude] %>,
            popup: "<b><a href='<%= if params[:controller] == 'clubs' then club_path(locationable) else event_path(locationable) end %>'><%= locationable.name %></a></b><br/>Категоріяя: <%= locationable.type.name %>"
            };
        markersArray.push(marker);
    <% end %>

    $(document).ready(showMap());
    $(document).on('page:load', showMap());
    $(document).on('page:change', showMap());
</script>

<div id="location"></div>