<div id="map" class="map"></div>

<script>
    var name = '<%= locationable.name %>';
    var latlng = <%= [locationable.location.latitude, locationable.location.longitude] %>;
    var type = '<%= locationable.type.name %>';

    $(document).ready(showLocation());
    $(document).on('page:load', showLocation());
    $(document).on('page:change', showLocation());
</script>

<div id="location"></div>