<!DOCTYPE html>
<html>
<head>
    <title>Sportevents - Спортивні події міста Черкаси</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <%= csrf_meta_tags %>
</head>
<body>
<div class="wrap" > <!-- WRAPPER -->
    <div class="bottom-footer">
        <%= render 'shared/header' %>
        <%= render 'shared/sidebar' %>

        <% if flash[:notice].present? %>
            <div class="alert-msg"><%= flash[:notice]%></div>
        <% end  %>

        <% if flash[:alert].present? %>
            <div class="alert-msg alert"><%= flash[:alert]%></div>
        <% end  %>

        <main class="content clearfix">
            <%= yield %>
        </main>
    </div>
</div> <!-- WRAPPER -->

<%= render 'shared/footer' %>

<%= javascript_include_tag 'tooltipsy.min' %>
<script type="text/javascript">
    $('.hastip').tooltipsy();
</script>

</body>
</html>
